@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

* {
  font-family: Poppins;
}

body {
  background: linear-gradient(to top left, #140A17, #1E0B18);
}

/* ---------------- HeaderComp -------------------*/
header {
  background-color: #0E1015;
}

header h4 {
  color: white;
  font-size: small;
  font-weight: bold;
}

header div {
  background-color: #13151B;
  height: 30px;
  width: fit-content;
  padding: 4px;
}

header ul li a {
  text-decoration: none;
  color: #484B51;
}

header ul li {
  border: 2px solid #13151B;
  padding: 0 15px;
}

header ul li a:hover {
  color: white;
  transition: 0.4s ease-in;
}

/*---------------------------SearchBar----------------------*/
.box {
  background-color: #0E1015;
}

.search-box {
  background-color: #1B1D23;
  width: 50em;
  padding: 4px;
  border-radius: 5px;
}

.search-box input {
  background-color: #1B1D23;
  border: none;
  font-size: 17px;
  color: white;
}

.search-box input:focus {
  outline: none;
}

.search-icon {
  color: #797c83;
  margin-left: 10px;
  margin-right: 5px;
  font-size: small;
}

select {
  padding: 8px 9px;
  background-color: #0E1015;
  color: #797c83;
  outline: none;
  border: none;
}

.sign-btn {
  background: linear-gradient(to top, #000000, #26292F);
  border: none;
  color: #797c83;
  border-radius: 10px;
}

select:hover {
  color: white;
  transition: 0.4s ease-in;
}

.sign-btn:hover {
  color: white;
  transition: 0.4s ease-in;
}

/*------------Section---------------*/
section {
  color: white;
}

/**************Stats*****************/
.down-btn {
  background-color: #E9213D;
  padding: 12px;
  border-radius: 7px;
  border: none;
  color: white;
}

.down-btn:hover {
  transform: scale(0.9);
  background-color: #a10a30;
  transition: 0.5s all ease-in-out;
}

.container {
  max-width: 70% !important;
}

.stats h2 {
  font-size: 30px;
  font-weight: bold;
}

.stats h3 {
  font-size: 22px;
}

.bor {
  padding-inline: 20px;
  border-right: 1px solid #272A30;
}

/**************Games*****************/
.game-head {
  display: flex;
}

.game-head h3 {
  font-size: 25px;
  margin: 0;
  margin-right: 10px;
}

.game-head select {
  background-color: transparent;
}

.game-head select option {
  background-color: #272A30;
  color: white;
}

select option:checked {
  background-color: #1E0B18;
  color: white;
}

/*-------Games Card-------*/
.game-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game-card {
  padding: 5px;
}

.game-card:hover {
  transform: scale(0.9);
  opacity: 0.5;
  transition: 0.4s all ease-in-out;
}

.game-card img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
}

.badge {
  background-color: #212227;
  font-size: 10px !important;
  color: #797c83 !important;
}

/*----------------------Footer---------------------*/
.footer-lay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  margin-bottom: 20px;
}

.footer-lay h4 {
  font-size: 10px;
  font-weight: bold;
}

.footer-lay button {
  font-size: 13px;
  color: white;
  background-color: #D5224E;
  border: none;
  border-radius: 2px;
  padding: 5px 25px;
}

.footer-lay button:hover {
  transform: scale(1.1);
  background-color: #a10a30;
  transition: 0.5s all ease-in-out;
}

.footer-lay p {
  color: white;
  font-size: 10px;
}

.footer-img img {
  width: 20px;
  height: 20px;
}

.footer-link h3 {
  font-size: 10px;
  color: #797c83;
  margin-left: 30px;
}

.footer-link ul {
  list-style: none;
}

.footer-link li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

.footer-link li a:hover {
  color: #797c83;
  transition: 0.4s ease;
}